*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(174, 237, 248, 0.194);
}
header,footer,aside,article{
    border: .5px solid grey;
    padding: 20px;
}
article{
    width: 100%;
}
/* header,footer{
    height: 80px;
}
.maincontent{
    height: calc(100vh - 200px);
} */
a{
    text-decoration: none;
    font-weight: bolder;
    padding-bottom: 60px;}
    li{
        margin-bottom: 20px;
    }
    h3{
        margin-bottom: 20px;
    }
 
  
